<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>COOKIE请求测试</title>
		<script>
			var tmp_html = '<link rel="stylesheet" href="../js/libs/bootstrap/3.3.7/css/bootstrap.css"/>';
			tmp_html += '<script src="../js/libs/jquery/3.2.1/jquery.js"><\/script>';
			tmp_html += '<script src="../js/libs/bootstrap/3.3.7/bootstrap.js"><\/script>';
			tmp_html += '<script src="../config.js"><\/script>';
			document.write(tmp_html);
			document.close();
		</script>
		<style>
			.form {
				width: 244px;
				margin-left: 10px;
				margin-top: 10px;
			}
			
			.form .f-option {
				height: 40px;
			}
			
			.form .f-option label {
				float: left;
				line-height: 34px;
			}
			
			.form .f-option input {
				float: left;
				margin-left: 10px;
				width: 200px;
			}
		</style>
	</head>

	<body>
		<div class="form">
			<div class="f-option">
				<label for="name">姓名:</label>
				<input id="name" type="text" class="form-control" />
			</div>
			<div style="clear: both; float: right;">
				<button id="login" class="btn btn-primary">登录</button>
				<button id="logout" class="btn btn-primary">登出</button>
			</div>
		</div>
	</body>

	<script>
		$("#login").unbind("click").bind("click", function() {
			var name = $("#name").val();
			var requrl = config.domainPath + "/process_login"
			var params = "";
			var data = {
				name: name
			}
			$.ajax({
				url: requrl + params,
				data: data,
				type: "POST",
				timeout: 30000,
				dataType: "json",
				error: function(response) {
					console.log("error:", response);
				},
				success: function(response) {
					console.log("success:", response);
				}
			});
		});

		$("#logout").unbind("click").bind("click", function() {
			var name = $("#name").val();
			var requrl = config.domainPath + "/process_logout";
			var params = "";
			var data = {
				name: name
			}
			$.ajax({
				url: requrl + params,
				data: data,
				type: "POST",
				timeout: 30000,
				dataType: "json",
				error: function(response) {
					console.log("error:", response);
				},
				success: function(response) {
					console.log("success:", response);
				}
			});
		});
	</script>

</html>